body {
  margin: 0;
   background-color: #111;
 }
 
 .tip {
     width: calc(100% - 37%);
     /* left: 0; */
     right: 0;
     bottom: 15px;
     margin: 0 auto;
     font-size: 14px;
     padding: 15px 20px;
     text-align: center;
     position: absolute;
   }
 
   .controlpanel {
     display: flex;
     position: absolute;
     z-index: 900;
     width: 100%;
     max-width: 500px;
     color: #222;
     font-family: Roboto;
     align-self: center;
     max-height: 20px;
     left: 50%;
     transform: translateX(-50%);
   }
 
   .controlpanel .controls {
     background: black;
     transform: translateY(-100%);
     transition: 0.2s;
     visibility: hidden;
     width: 100%;
     padding: 7px 10px;
     display: flex;
     align-items: center;
     border-top: none;
     border-radius: 30px 30px 30px 30px;
     box-shadow: #000000 0px 3px 8px;
     height: 15px;
   }
 
   .controlpanel:hover .controls {
     transform: none;
     visibility: visible;
     max-height: none;
     height: 51.4px;
   }
 
   .controlpanel .controls input {
     background: none;
     border: none;
     margin: 0px 20px;
     color: white;
     flex-grow: 1;
     outline: none;
   }
 
   .controlpanel .controls .icon {
     width: 20px;
     height: 20px;
     margin: 0px 2x 0px 2px;
   }
 
   .controlpanel .controls .button {
     background: none;
     font-size: 2px;
     cursor: pointer;
     font-family: Material Icons;
     padding: 2px 7px;
     margin: 0px 2px;
   }
 
   .home-icon {
     display: none;
   }
 
   .Home:before {
     content: url(/assets/images/icons/homeicon.svg);
     display: block;
     width: 20px;
     height: 20px;
   }
 
   .fullscreen-icon {
     display: none;
   }
 
   .Fullscreen:before {
     content: url(/assets/images/icons/fullscreen.svg);
     display: block;
     width: 20px;
     height: 20px;
   }
 
   .button {
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .alien {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-donate {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
  }
  
  .donate {
    border: solid white;
    font: inherit;
    color: white;
    transition: 0.5s;
    background-color: #444;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    text-align: center
  }
  
  .donate:hover {
    box-shadow: inset 0 100px 0 0 white;
    color: black;
    border: 3px solid black;
  }
  